

<h1>Welcome to my first rails experiment!</h1>
<p>
	This will probably suck. 
	<%= link_to "One Month Rails", "http://onemonthrails.com"%> is the course I'm following. 
</p>
<p>
	<%= link_to "Sign up now!" , "#" %>
</p>


